@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.nav-fixed{
    position: fixed;
   top: 0px;
}
.navlogo {
    width: 90px;
    height: 100%;
}

.navright {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
}

.body{
    background-image: url(https://i.ibb.co/3vkG1wm/antonio-cuellar-K4-B1pu-V484-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -wekit-background-attachment: fixed;
    -o-background-attachment: fixed;
    -moz-background-attachment: fixed;

}


.frontlogo{
    width: 800px;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 180px;

}

.smallspace {
    padding: 30px;
}
.frontcontent{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}
.frontbox{

    width: 350px;
    height: 350px;
    background-color: white;
    font-size: larger;
    text-align: justify;
   


    
}

.frontp{
    text-align: justify;
    font-size: large;
}

.justify-nav{
    display: flex;
    justify-content: end;
}

.dashboard-header {
    display: flex;
    justify-content: center;
}

.dashboard-links{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 250px 0 250px;
    
}

.exitdb{
    display:flex;
    justify-content: center;
}

.btn-links {
    
        display: inline-block;
        padding: 0.3em 1em;
        text-decoration: none;
        border-radius: 25px;
        color: blue;
        transition: .4s;
        font-size:xx-large;
        background-color:  #FF0066;
   
        
        
        
    }
    
    .btn-links:hover {
        background: #D41872;
        color:blue;
    }

    .footcolor{
        background-color:black;
        color: white;
    }

