@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.nav-fixed{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    

}
.navlogo {
    width: 90px;
    height: 100%;
}

.navright {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
}

.body{
    background-image: url(https://i.ibb.co/3vkG1wm/antonio-cuellar-K4-B1pu-V484-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -wekit-background-attachment: fixed;
    -o-background-attachment: fixed;
    -moz-background-attachment: fixed;
   

}


.frontlogo{
    width: 800px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 180px;

    

}

.fullcontent {
    background-color: white;
    margin-bottom: 200px;
}

.frontcontent{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 30px;
    margin-left: 85px;
    margin-right: 85px;
}
.frontbox{

    width: 450px;
    height: 200px;
    background-color: white;
    font-size: larger;
    text-align: justify;
    font-family: 'Lato', sans-serif;
   


    
}

.frontp{
    text-align: justify;
    font-size: large;
}

.justify-nav{
    display: flex;
    justify-content: end;
}

.dashboard-header {
    display: flex;
    justify-content: center;
}

.dashboard-links{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 250px 0 250px;
    
}


.contactdiv {
    display: flex;
    justify-content: center;
}
    .contactbox {
        width: 500px;
        height: 400px;
        background-color: white;
        font-size: larger;
        text-align: justify;
        font-family: 'Lato', sans-serif;
        padding-bottom: 30px;
    }
.inputs {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: vertical;
}
    .comment-box {
        width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: vertical;
    }
   

    .morespace {
        padding:100px;
    }

    .submit {
        text-align: center;
    }

    .footcolor{
        // position: fixed;
        background-color:black;
        color: white;
        left: 0;
        bottom: 0;
    width: 100%;
    
    }

    .space-navbar{
        margin-top: 70px;
    }

    .contact-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;

    }

    .size-input {
        width: 500px;
    }

    .size-sendbtn {
        width: 200px;
        margin-top: 30px;
    }
.margin-contact {
    margin-bottom: 60px;
}
    

